# Python binaries
*.pyc
*.pyo
*__pycache__*

# hidden files garbage
*~
.fuse*

# Installation/setup related
dist
*egg**
MANIFEST
*.tar.gz

# documentation
doc/build
doc/source/modules/*
doc/source/index.rst

# if inplace installation
fsc/*.hpp

#virtualenv
venv*

# website is a different repo
website
