[submodule "cpp_submodules_todo/DebugPrinter"]
	path = cpp_submodules_todo/DebugPrinter
	url = git@gitlab.phys.ethz.ch:frescolino/DebugPrinter.git
[submodule "modules/pytermcolor"]
	path = modules/pytermcolor
	url = git@github.com:FrescolinoGroup/pytermcolor.git
[submodule "modules/pytiming"]
	path = modules/pytiming
	url = git@github.com:FrescolinoGroup/pytiming.git
[submodule "modules/pylocker"]
	path = modules/pylocker
	url = git@github.com:FrescolinoGroup/pylocker.git
[submodule "modules/pyformatting"]
	path = modules/pyformatting
	url = git@github.com:FrescolinoGroup/pyformatting.git
[submodule "modules/pyexport"]
	path = modules/pyexport
	url = git@github.com:FrescolinoGroup/pyexport.git
[submodule "modules/pynamespace"]
	path = modules/pynamespace
	url = git@github.com:FrescolinoGroup/pynamespace.git
[submodule "modules/cmake_extensions"]
	path = modules/cmake_extensions
	url = git@github.com:FrescolinoGroup/cmake_extensions.git
[submodule "modules/ArgParser"]
	path = modules/ArgParser
	url = git@github.com:FrescolinoGroup/ArgParser.git
